<h1 class="text-center">SSD</h1>
<hr>
<ul>
	<li>
		<p> or should i add a sidebar with upload fields on this page?...</p>
		<p>photos, videos, and comments must be displayed here..</p>
	</li>
</ul>
<%#= image_tag i.photo.url(:medium) %>