<h1>Create a Session</h1>

<%= form_for :spot do |cs| %>
<form>
	<div class="col-md-2">
		<div class="form-group">
			<strong>Enter Spot: </strong><br>
			<%= cs.text_field :spot, class: "form-control", placeholder: "Enter spot" %>
		</div>
	</div>
</form>
<% end %>

