<!-- * PAGE TO VIEW INDIVIDUAL IMAGE AND COMMENT  -->

<h1><%= @caption %></h1>
<hr>
<%# @skate_session.photos.each do |p| %>

<!-- 	<div class="col-md-3">
		<a href="/skate_sessions/:skate_session_id/photos/:id/edit"> -->
			<%= image_tag @photo %> 
			<!-- </a> -->
		<br>
		<%#= p.caption %>
	<!-- </div> -->

<%# end %>
