body {
	background: #D3D3D3;
}

.text-right {
	margin-right: 10px;
}

.signupHead {
	margin-left: 54px;
}

.loginHead {
	margin-left: 72px;
}

.borderRT {
	// float: right;
	// width: 250px;
	height: 560px;
	border-right: 1px solid white;
}

.btn {
	margin-left: 70px;
}
