.intro {
	color: white;
}

.navTitle {
	color: white;
}

body {
	background: #D3D3D3;
}
							// background image only on signup page
body.bg {
	background-image: image-url("wits.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.text-right {      // <-- ** MOVES NAV LINKS TO RIGHT
	margin-right: 10px;
}

.lt-sidebar {      // <-- ** CONTENT UPLOAD AREA ***
	margin-left: 10px;
}

.borderRT {
	height: 700px;
	border-right: 1px solid white;
}

.btn {
	margin-left: 70px;
}

.signupHolder {
	width: 230px;
	height: 560px;
	background-color: #D3D3D3;
	opacity: 0.9;
	border-radius: 20px;
}
