.whiteText {
	color: white;
}

.navTitle {
	color: white;
}

h5 {
	margin-left: -45px;
}

body {
	background: #D3D3D3;
}
		// background image only on signup page
body.bgs {
	background-image: image-url("wits.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

body.bgl {
	background-image: image-url("go-skateboarding.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.text-right {      // <-- ** MOVES NAV LINKS TO RIGHT
	margin-right: 10px;
}

.lt-sidebar {      // <-- ** CONTENT UPLOAD AREA ***
	margin-left: 10px;
}

// .borderRT {
// 	height: 700px;
// 	border-right: 1px solid white;
// }

.btn {
	margin-left: 70px;
}

.signupHolder {
		background-color: #D3D3D3;
	width: 230px;
	height: 560px;
	opacity: 0.9;
	border-radius: 20px;
}

.loginHolder {
	background-color: #D3D3D3;
	width: 230px;
	height: 310px;
	opacity: 0.9;
	border-radius: 20px;
}

.uploadContent {
	background-color: black;
	width: 230px;
	height: 505px;
	// opacity: 0.9;
	border-radius: 20px;
}

.navButtons {
	margin-left: 0px;
}

.btn {
	margin-left: 0px;
}

.col-md-3 {
	img {
		width: 100%;
	}
}
video {
	width: 100%;
	height: 515px;
}
